---
layout: default
---
<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
{% if page.categories.size != 0 %}
 | 
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span class="tags">
  标签
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>
<section class="post">
{{ content }}
</section>
<section align="right">
<br/>
<span>
	<a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >上一篇</a>
	&nbsp;&nbsp;&nbsp;
	<a {% if page.next %} href="{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >下一篇</a>
</span>
</section>
{% include comments.md %}
